.App {
  padding-top: 2rem;
  font-weight: 600;
  text-align: center;
}

.first-component{
  font-weight: 400;
}

.other-component{
  font-weight: 100;
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
